<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jorie Blog</title>
    <link rel="shortcut icon" href="/static_c/img/Jorieicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static_c/css/reset.css"/>
    <link rel="stylesheet" href="/static_c/fonts/Copy/COPASETI.css"/>
    <link rel="stylesheet" href="/static_c/fonts/逐浪创艺粗黑体_1501002499795/逐浪创艺粗黑体.css"/>
    <link rel="stylesheet" href="/static_c/lib/font-awesome/css/font-awesome.min.css"/>
    <script src="/static_c/lib/isie/Isie.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <meta name="keywords" content="博客,前端,后台,求职" />
    <meta name="description" content="JorieBlog分享自己的心得感悟，了解最新技术体系。" />
</head>
<body>
    <div id="init"></div>
</body>
</html>