.contentwrap{
    width: 1200px;
    margin:60px auto;
    text-align: center;
}

.username{
    width: 100px;
    height: 100px;
    float: left;
    background: #000;
    margin-top: 20px
}

.mymessage{
    display: inline-block;
}

.contentbox{
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
}

.contentbox h3{
    font-size: 28px;
    font-weight: bold;
}

.contentbox p{
    font-size: 16px;
    padding: 6px 0;
}

.progressBarwrap{
    padding: 0 50px;
}

.progresslist{

}